<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Password Reset</title>
    </head>
    <body>
        <p>Click <a href="{{url}}" target="_blank">here </a> to reset your password</p>
        <p>It looks like you’ve requested a new password - just follow the link above to create a new password for your account.</p>
        <p>Not sure why you are receiving this email ? Sorry about that ! Let us know and we'll look into it.</p>
        <p>Thanks, </p>
        <p>The Pickle Factory Team</p>
    </body>
</html>