<app-unit-schedule-modal
  *ngIf="openUnitScheduleModal"
  [mode]="modalMode"
  [unitsScheduleData]="unitsScheduleData"
  [assetClass]="assetClass"
  [scheme]="scheme"
  [saleStatusChoices]="saleStatusChoices"
  [rentFrequencyChoices]="rentFrequencyChoices"
  [unitStructure]="unitStructure"
  [leaseStructure]="leaseStructure"
  [leaseTypeChoices] = "leaseTypeChoices"
  [ownershipTypeChoices] = "ownershipTypeChoices"
  (modalSaveUnitsSchedule)="onCloseUnitScheduleModal($event)"
></app-unit-schedule-modal>

<app-unit-schedule-upload
  *ngIf="openUploadModal"
  [unitStructure]="unitStructure"
  [leaseStructure]="leaseStructure"
  [assetClass]="assetClass"
  [ownershipTypeChoices]="ownershipTypeChoices"
  [saleStatusChoices]="saleStatusChoices"
  [leaseTypeChoices]="leaseTypeChoices"
  (modalUploadUnitSchedule)="onCloseUploadModal($event)"
></app-unit-schedule-upload>


<div class="row" *ngIf="unitsScheduleData.length > 0; else noUnits">
  <div class="col">
    <table
      class="table table-hover text-center table-borderless uniform-width"
      *ngIf="assetClass.investmentStrategy === 'buildToSell'"
    >
      <thead>
        <tr class="border border-1 header bg-grey">
          <th scope="col">Total</th>
          <th scope="col">{{ totalUnits | number : '1.0-0' : 'en-GB' }}</th>
          <th scope="col">{{ totalAreaSize | number : '1.2-2' : 'en-GB' }}</th>
          <th scope="col" *ngIf="unitStructure.hasBeds">{{ totalBeds | number : '1.0-0' : 'en-GB' }}</th>
          <th scope="col" *ngIf="assetClass.use === 'residential'"></th>
          <th scope="col">{{ totalSalePriceTarget | number : '1.0-0' : 'en-GB' }}</th>
          <th scope="col">{{ totalSalePriceAchieved | number : '1.0-0' : 'en-GB' }}</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        <tr class="border-bottom border-2 header">
          <th scope="col">{{ unitStructure.label | titlecase }} identifier</th>
          <th scope="col">Description</th>
          <th scope="col">
            {{ unitStructure.areaType }}
            <small class="px-0">({{ unitStructure.areaSystem }})</small>
          </th>
          <th scope="col" *ngIf="unitStructure.hasBeds">Beds</th>
          <th scope="col" *ngIf="assetClass.use === 'residential'">Type</th>
          <th scope="col">Target price</th>
          <th scope="col">Price achieved</th>
          <th scope="col">Sale status</th>
          <th scope="col">Buyer</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-bottom border-1" *ngFor="let unitScheduleData of unitsScheduleData">
          <td>{{ unitScheduleData.unit.identifier }}</td>
          <td>{{ unitScheduleData.unit.description }}</td>
          <td>{{ unitScheduleData.unit.areaSize | number : '1.2-2' : 'en-GB' }}</td>
          <td *ngIf="unitStructure.hasBeds">
            {{ unitScheduleData.unit.beds | number : '1.0-0' : 'en-GB' }}
          </td>
          <td *ngIf="assetClass.use === 'residential'">
            <ng-container *ngIf="!!unitScheduleData.sale?.ownershipType; else noType">
              {{unitScheduleData.sale?.ownershipType}}
            </ng-container>
            <ng-template #noType>not defined</ng-template>
          </td>
          <td>
            <ng-container *ngIf="!!unitScheduleData.sale?.priceTarget; else noPrice">
              {{ unitScheduleData.sale?.priceTarget | number : '1.2-2' : 'en-GB' }}
            </ng-container>
            <ng-template #noPrice>not defined</ng-template>
          </td>
          <td>
            <ng-container *ngIf="!!unitScheduleData.sale?.priceAchieved; else noSale">
              {{ unitScheduleData.sale?.priceAchieved | number : '1.2-2' : 'en-GB' }}
            </ng-container>
            <ng-template #noSale>available</ng-template>
          </td>
          <td>
            <ng-container *ngIf="unitScheduleData.sale?.status; else noStatus">
              {{ unitScheduleData.sale?.status }}
            </ng-container>
            <ng-template #noStatus>available</ng-template>
          </td>
          <td>
            <ng-container *ngIf="unitScheduleData.sale?.buyer; else noBuyer">
              {{ unitScheduleData.sale?.buyer }}
            </ng-container>
            <ng-template #noBuyer>available</ng-template>
          </td>
        </tr>
      </tbody>
    </table>

    <table
      class="table table-hover text-center table-borderless uniform-width"
      *ngIf="assetClass.investmentStrategy === 'buildToRent'"
    >
      <thead>
        <tr class="border border-1 header bg-grey">
          <th scope="col">Total</th>
          <th scope="col">{{ totalUnits | number : '1.0-0' : 'en-GB' }}</th>
          <th scope="col">{{ totalAreaSize | number : '1.2-2' : 'en-GB' }}</th>
          <th scope="col" *ngIf="unitStructure.hasBeds">{{ totalBeds | number : '1.0-0' : 'en-GB' }}</th>
          <th scope="col" *ngIf="assetClass.use === 'residential'"></th>
          <th scope="col" class="larger-column">{{ averageLeaseRentTarget | number : '1.2-2' : 'en-GB' }}</th>
          <th scope="col" class="larger-column">{{ averageLeaseRentAchieved | number : '1.2-2' : 'en-GB' }}</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        <tr class="border-bottom border-2 header">
          <th scope="col">{{ unitStructure.label | titlecase }}</th>
          <th scope="col">Description</th>
          <th scope="col">
            {{ unitStructure.areaType }}
            <small class="px-0">({{ unitStructure.areaSystem }})</small>
          </th>
          <th scope="col" *ngIf="unitStructure.hasBeds">Beds</th>
          <th scope="col" *ngIf="assetClass.use === 'residential'">Type</th>
          <th scope="col">
            Rent target <br>
            <!-- <small>({{ getRentFrequencyLabel(leaseStructure.rentFrequency) }})</small> -->
            <small>({{ getChoiceLabel(leaseStructure.rentFrequency, rentFrequencyChoices) }})</small>
          </th>
          <th scope="col">
            Rent achieved <br>
            <small>({{ getChoiceLabel(leaseStructure.rentFrequency, rentFrequencyChoices) }})</small>
          </th>
          <th scope="col">Lease start</th>
          <th scope="col">Lease end</th>
          <th scope="col">Tenant</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-bottom border-1" *ngFor="let unitScheduleData of unitsScheduleData">
          <td>{{ unitScheduleData.unit.identifier }}</td>
          <td>{{ unitScheduleData.unit.description }}</td>
          <td>{{ unitScheduleData.unit.areaSize | number : '1.2-2' : 'en-GB' }}</td>
          <td *ngIf="unitStructure.hasBeds">
            {{ unitScheduleData.unit.beds | number : '1.0-0' : 'en-GB' }}
          </td>
          <td *ngIf="assetClass.use === 'residential'">
            <ng-container *ngIf="!!unitScheduleData?.lease?.leaseType; else noType">
              {{getChoiceLabel(unitScheduleData.lease!.leaseType,leaseTypeChoices)}}
            </ng-container>
            <ng-template #noType>not defined</ng-template>
          </td>
          <td>
            <ng-container *ngIf="!!unitScheduleData?.lease?.rentTarget; else noTarget">
              {{ unitScheduleData.lease?.rentTarget | number : '1.2-2' : 'en-GB' }}
            </ng-container>
            <ng-template #noTarget>not defined</ng-template>
          </td>
          <td>
            <ng-container *ngIf="!!unitScheduleData.lease?.rentAchieved; else noLettings">
              {{ unitScheduleData.lease?.rentAchieved | number : '1.2-2' : 'en-GB' }}
            </ng-container>
            <ng-template #noLettings>available</ng-template>
          </td>
          <td>
            <ng-container *ngIf="!!unitScheduleData.lease?.startDate; else noStart">
              {{ unitScheduleData.lease?.startDate | date : 'MMM YYYY' }}
            </ng-container>
            <ng-template #noStart>available</ng-template>
          </td>
          <td>
            <ng-container *ngIf="!!unitScheduleData.lease?.endDate; else noEnd">
              {{ unitScheduleData.lease?.endDate | date : 'MMM YYYY' }}
            </ng-container>
            <ng-template #noEnd>available</ng-template>
          </td>
          <td>
            <ng-container *ngIf="!!unitScheduleData.lease?.tenant; else noTenant">
              {{ unitScheduleData.lease?.tenant }}
            </ng-container>
            <ng-template #noTenant>available</ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="unitsScheduleData.length > 0">
  <div class="col">
    <div class="my-2 d-flex justify-content-end">
      <button type="button" class="btn btn-primary mx-2" (click)="onOpenUnitScheduleModal('edit')">
        Edit unit schedule
      </button>
      <button class="btn btn-primary" (click)="onOpenUploadModal()">Upload unit schedule</button>
    </div>
  </div>
</div>

<ng-template #noUnits>
  <div class="d-flex justify-content-center pt-4">
    <div class="title p-2">Create units</div>
    <button class="btn btn-primary" (click)="onOpenUnitScheduleModal('new')">New units</button>
  </div>
</ng-template>
