<!-- <app-unit-schedule-modal *ngIf="openUnitScheduleModal" [mode]="modalMode"
[assetClass]="assetClassSelected" [scheme]="scheme" (modalSaveUnitSchedule)="onEditUnitSchedule($event)"></app-unit-schedule-modal> --> 


<div class="row">
  <div class="col">
    <div class="table" *ngIf="assetClass.investmentStrategy === 'buildToSell'">
      <div class="total-row text-center">
        <div class="table-cell">Total</div>
        <div class="table-cell">{{totalUnits | number: '1.0-0' : 'en-GB'}}</div>
        <div class="table-cell">{{totalAreaSize | number: '1.2-2' : 'en-GB'}}</div>
        <div class="table-cell" *ngIf="unitStructure.hasBeds()">{{totalBeds | number: '1.0-0' : 'en-GB'}}</div>
        <div class="table-cell">{{totalSalePriceTarget | number: '1.0-0' : 'en-GB'}}</div>
        <div class="table-cell">{{totalSalePriceAchieved | number: '1.0-0' : 'en-GB'}}</div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
      </div>
      <div class="table-row header text-center">
        <div class="table-cell-header pt-2">{{unitStructure.label | titlecase}}</div>
        <div class="table-cell-header pt-2">Description</div>
        <div class="table-cell-header pt-2">{{unitStructure.areaType}} ({{unitStructure.areaSystem}})</div>
        <div class="table-cell-header pt-2" *ngIf="unitStructure.hasBeds()">Beds</div>
        <div class="table-cell-header pt-2">Target price</div>
        <div class="table-cell-header pt-2">Price achieved</div>
        <div class="table-cell-header pt-2">Sale status</div>
        <div class="table-cell-header pt-2">Buyer</div>
      </div>
      <div class="table-row text-center" *ngFor="let unitSaleLeaseData of unitsSaleLeaseData">
        <div class="table-cell">{{unitSaleLeaseData.unit.identifier}}</div>
        <div class="table-cell">{{unitSaleLeaseData.unit.description}}</div>
        <div class="table-cell">{{unitSaleLeaseData.unit.areaSize | number: '1.2-2' : 'en-GB'}}</div>
        <div class="table-cell" *ngIf="unitStructure.hasBeds()">{{unitSaleLeaseData.unit.beds}}</div>
        <div class="table-cell">
          {{unitSaleLeaseData.sale.priceTarget ? unitSaleLeaseData.sale.priceTarget: 'not defined'}}</div>
        <div class="table-cell">
          {{unitSaleLeaseData.sale.priceAchieved ? unitSaleLeaseData.sale.priceAchieved: 'available'}}</div>
        <div class="table-cell">{{unitSaleLeaseData.sale.status ? unitSaleLeaseData.sale.status: 'available'}}</div>
        <div class="table-cell">{{unitSaleLeaseData.sale.buyer ? unitSaleLeaseData.sale.buyer: 'available'}}</div>
      </div>
    </div>

    <div class="table" *ngIf="assetClass.investmentStrategy === 'buildToRent'">
      <div class="total-row text-center">
        <div class="table-cell">Total</div>
        <div class="table-cell">{{totalUnits | number: '1.0-0' : 'en-GB'}}</div>
        <div class="table-cell">{{totalAreaSize | number: '1.2-2' : 'en-GB'}}</div>
        <div class="table-cell" *ngIf="unitStructure.hasBeds()">{{totalBeds | number: '1.0-0' : 'en-GB'}}</div>
        <div class="table-cell">{{averageLeaseRentTarget | number: '1.0-0' : 'en-GB'}}</div>
        <div class="table-cell">{{averageLeaseRentAchieved | number: '1.0-0' : 'en-GB'}}</div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
        <div class="table-cell"></div>
      </div>
      <div class="table-row header text-center">
        <div class="table-cell-header pt-2">{{unitStructure.label | titlecase}}</div>
        <div class="table-cell-header pt-2">Description</div>
        <div class="table-cell-header pt-2">{{unitStructure.areaType}} ({{unitStructure.areaSystem}})</div>
        <div class="table-cell-header pt-2" *ngIf="unitStructure.hasBeds()">Beds</div>
        <div class="table-cell-header pt-2">Rent target</div>
        <div class="table-cell-header pt-2">Rent achieved</div>
        <div class="table-cell-header pt-2">Lease start</div>
        <div class="table-cell-header pt-2">Duration</div>
        <div class="table-cell-header pt-2">Tenant</div>
      </div>
      <div class="table-row text-center" *ngFor="let unitSaleLeaseData of unitsSaleLeaseData">
        <div class="table-cell">{{unitSaleLeaseData.unit.identifier}}</div>
        <div class="table-cell">{{unitSaleLeaseData.unit.description}}</div>
        <div class="table-cell">{{unitSaleLeaseData.unit.areaSize | number: '1.2-2' : 'en-GB'}}</div>
        <div class="table-cell" *ngIf="unitStructure.hasBeds()">{{unitSaleLeaseData.unit.beds}}</div>
        <div class="table-cell">
          {{unitSaleLeaseData.lease.rentTargetAmount ? unitSaleLeaseData.lease.rentTargetAmount: 'available'}}</div>
        <div class="table-cell">
          {{unitSaleLeaseData.lease.rentAchievedAmount ? unitSaleLeaseData.lease.rentAchievedAmount: 'available'}}</div>
        <div class="table-cell">{{unitSaleLeaseData.lease.startDate ? unitSaleLeaseData.lease.startDate: 'available'}}
        </div>
        <div class="table-cell">
          {{unitSaleLeaseData.lease.durationUnit ? unitSaleLeaseData.lease.durationUnit: 'available'}}</div>
        <div class="table-cell">{{unitSaleLeaseData.lease.tenant ? unitSaleLeaseData.lease.tenant: 'available'}}</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="my-2 d-flex justify-content-end">
      <!-- <button type="button" class="btn btn-primary mx-2" (click)="onOpenUnitScheduleModal('edit')">Edit unit schedule</button> -->
    </div>
  </div>
</div>
