
<app-unit-modal 
    *ngIf="openUnitModal" 
    [mode]="modalMode"
    [scheme]="scheme"
    [assetClass]="assetClass"
    (modalSaveAssetClass)="onSave($event)"
    (deleteIsConfirmed)="onDeleteAssetClass()">
</app-unit-modal>


<div class="border border-primary p-2 rounded highlight">

  <div class="d-flex align-items-center">
    <div class="fw-bolder pe-2">{{assetClass.use | titlecase}}</div>
    <app-edit (onOpenModalEdit)="onOpenUnitModal('edit')"></app-edit>
  </div>

  <ng-container *ngIf="!!unitStructure">

    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">{{unitStructure.label | titlecase}}s</th>
          <th scope="col">{{unitStructure.areaType}} ({{scheme.system | lowercase}})</th>
          <th scope="col" *ngIf="unitStructure.hasBeds()">Beds per {{unitStructure.label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unitGroup of assetClass.unitsGrouped">
          <td>{{unitGroup.description}}</td>
          <td >{{unitGroup.quantity}}</td>
          <td >{{unitGroup.areaSize}}</td>
          <td *ngIf="unitStructure.hasBeds()">{{unitGroup.beds}}</td>
        </tr>
      </tbody>
    </table>
    
  </ng-container>

</div>



