
<app-unit-modal 
    *ngIf="openUnitModal" 
    [mode]="modalMode"
    [scheme]="scheme"
    [assetClass]="assetClass"
    (modalSaveAssetClass)="onSave($event)"
    (deleteIsConfirmed)="onDeleteAssetClass()">
</app-unit-modal>


<div class="border border-primary p-2 rounded highlight">

  <div class="d-flex align-items-center">
    <div class="fw-bolder pe-2">{{assetClass.use | titlecase}}</div>
    <app-edit (onOpenModalEdit)="onOpenUnitModal('edit')"></app-edit>
  </div>

  <ng-container *ngIf="!!unitStructure">

    <div class="row pt-3">
      <div class="col">

        <div class="table">
          <div class="table-row header">
            <div class="table-cell">Description</div>
            <div class="table-cell">{{unitStructure.label | titlecase}}s</div>
            <div class="table-cell">{{unitStructure.areaType}} ({{scheme.system | lowercase}})</div>
            <div class="table-cell" *ngIf="unitStructure.hasBeds()">Beds per {{unitStructure.label}}</div>
          </div>
          <div class="table-row" *ngFor="let unitGroup of assetClass.unitsGrouped">
            <div class="table-cell">{{unitGroup.description}}</div>
            <div class="table-cell text-center">{{unitGroup.quantity}}</div>
            <div class="table-cell text-end">{{unitGroup.areaSize}}</div>
            <div class="table-cell text-center" *ngIf="unitStructure.hasBeds()">{{unitGroup.beds}}</div>
          </div>
          <div class="table-row footer">
            <div class="table-cell">Total</div>
            <div class="table-cell text-center">{{totalQuantity}}</div>
            <div class="table-cell text-end">{{totalAreaSize | number: '1.2-2' : 'en-GB'}}</div>
            <div class="table-cell text-center" *ngIf="unitStructure.hasBeds()">{{totalBeds}}</div>
          </div>
        </div>

      </div>
    </div>
    
  </ng-container>

</div>



