<!-- <div class="container">
    <div class="row p-4">
        <div class="col">
            <div class="row">
                <div class="col bg-white p-0">
                    <ul class="nav nav-tabs color-basic">
                        <li class="nav-item">
                          <a class="nav-link active">Funders</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" >Waterfall</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" >Lending costs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" >Terms</a>
                          </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col bg-white">
                    content
                </div>
            </div>
            
        </div>
    </div>
</div> -->

<div class="container bg-white m-4 px-0">
    <!-- <nav class="navbar navbar-light p-0">
        <ul class="list-group list-group-horizontal border-btm">
           <li class="p-2 border-active" (click)="tabActive = 'funders'">
                <div [ngClass]="{'active': tabActive === 'funders'}">Funders</div> 
            </li>
           <li class="p-2" (click)="tabActive = 'waterfall'" [ngClass]="{'active': tabActive === 'waterfall'}">Waterfall</li>
           <li class="p-2" (click)="tabActive = 'lending'" [ngClass]="{'active': tabActive === 'lending'}">Lending costs</li>
           <li class="p-2" (click)="tabActive = 'terms'" [ngClass]="{'active': tabActive === 'terms'}">Terms</li>
       </ul>
   </nav> -->
   <ul class="nav nav-tabs">
    <li class="nav-item">
         <a class="nav-link py-0" (click)="tabActive = 'funders'" [ngClass]="{'active': tabActive === 'funders'}">
            <div class="py-2" [ngClass]="{'activeTab': tabActive === 'funders'}">Funders</div> 
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-0" (click)="tabActive = 'waterfall'" [ngClass]="{'active': tabActive === 'waterfall'}">
            <div class="py-2" [ngClass]="{'activeTab': tabActive === 'waterfall'}">Waterfall</div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link py-0" (click)="tabActive = 'lending'" [ngClass]="{'active': tabActive === 'lending'}">
            <div class="py-2" [ngClass]="{'activeTab': tabActive === 'lending'}">Lending costs</div>
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link py-0" (click)="tabActive = 'terms'" [ngClass]="{'active': tabActive === 'terms'}">
        <div class="py-2" [ngClass]="{'activeTab': tabActive === 'terms'}">Terms</div>
      </a>
    </li>
  </ul>
</div>

