[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
django-heroku = "*"
djangorestframework = "*"
pygments = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
sendgrid = "*"
django-sendgrid-v5 = "*"

[dev-packages]

[requires]
python_version = "3.9"
