.activeTab {
    border-bottom: 2px solid rgba(15, 86, 179, 1);
    font-weight: 600;
}


.nav-link, .nav-link.active {
    color: black;
    cursor: pointer;
}

.tab {
    border-bottom: 2px solid transparent;
}

.bg-disabled{
    background-color: rgba(236, 236, 236);
}
.text-disabled {
    color:  rgb(95, 94, 94)
}






