.activeTab {
    border-bottom: 2px solid rgba(15, 86, 179, 1);
    font-weight: 600;
}

.sectionTitle{
    font-weight: 600;
}
.listNoStyle {
    list-style-type:none;
}
.tableTitle{
    font-weight: 450;
    border-bottom: 1px solid rgba(119,119,119)
}


.nav-link, .nav-link.active {
    color: black;
    cursor: pointer;
}

.tab {
    border-bottom: 2px solid transparent;
}

.bg-disabled{
    background-color: rgba(236, 236, 236);
}
.text-disabled {
    color:  rgb(95, 94, 94)
}

.hoverFlex:hover{
    display: flex;
    justify-content: space-between;
}


.highlight:hover {
    background-color: rgba(13, 202, 240, 0.15);

}

.edit {
    display: none;
}
.borrower-name:hover .edit {
    display: block;
}







