<app-borrower-modal 
    *ngIf="openBorrowerModal"
    [mode] = "'add'"
    (modalSaveLoanBorrower)="onSave($event)">
</app-borrower-modal>

<div class="row">
    <div class="col px-0 bg-white" style="height: 500px">
        <ul>
            <li class="p-2">
                <div class="d-flex align-items-center">
                    <span class="py-auto me-2">Borrower:</span>

                    <button class="btn btn-primary" (click)="onOpenCreate()" *ngIf="!loan.borrower">Add Borrower</button>
                    <span *ngIf="!!loan.borrower">{{loan.borrower.name}}</span>
                </div>
            </li>
            <li class="p-2">
                <div class="d-flex align-items-center">
                    <span class="py-auto me-2">Lender(s):</span> 
                    <button class="btn btn-primary" disabled>Add Lender</button>
                </div>
            </li>
        </ul>
    </div>
</div>

 