<div class="modal" tabindex="-1" [ngStyle]="{display: displayStyle}" role="dialog">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">Upload unit schedule data</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onCancel()"
        ></button>
      </div>

      <div class="modal-body">
        <app-upload-nav [step]="step"></app-upload-nav>

        <app-upload-step-one
          *ngIf = "step === 1"
          [unitStructure]="unitStructure"
          [leaseStructure]="leaseStructure"
          [assetClass]="assetClass"
          [ownershipTypeChoices]="ownershipTypeChoices"
          [saleStatusChoices]="saleStatusChoices"
          [leaseTypeChoices]="leaseTypeChoices"
          (checkboxChanged)="onCheckboxChanged($event)"
        ></app-upload-step-one>

        <app-upload-step-two
          *ngIf = "step === 2">
        </app-upload-step-two>

      </div>


      <div class="modal-footer">
        <button *ngIf="step > 1" type="button" class="btn btn-outline-primary me-auto" (click)="onPrevious()">
          < Previous
        </button>
        <button type="button" class="btn btn-secondary m-2" (click)="onCancel()">Cancel</button>
        <button form="form" type="button" class="btn btn-success m-2" (click)="onNext()" [disabled]="!isChecked">
          Next >
        </button>
      </div>
    </div>
  </div>
</div>
