
<div class="row bg-white">
    <div class="col">
        <nav class="navbar navbar-light navbar-expand-lg pb-0">
            <div class="d-flex flex-column">
                <div class="p-2 nav-title">{{loan.name}}</div>
        
                <div class="d-flex justify-content-between">
                    <ul class="list-group list-group-horizontal">
                        <li class="p-2" (click)="tabActive = 'stakeholders'" [ngClass]="tabActive === 'stakeholders' ? 'activeTab' : 'tab'">Stakeholders</li>
                        <li class="p-2" (click)="tabActive = 'scheme'" [ngClass]="tabActive === 'scheme' ? 'activeTab' : 'tab'">Scheme</li>
                        <li class="p-2 text-disabled" (click)="tabActive = 'structure'" [ngClass]="tabActive === 'structure' ? 'activeTab' : 'tab'">Loan structure</li>
                        <li class="p-2 text-disabled" (click)="tabActive = 'financials'" [ngClass]="tabActive === 'financials' ? 'activeTab' : 'tab'">Financials</li>
                    </ul>
                </div>    
                    
            </div>
        </nav>
    </div>
</div>

<div class="row overflow-auto" style="height: 700px">
    <div class="col">
            <div class="row m-2">
                <div class="col">
                    
                    <ng-container *ngIf="tabActive === 'stakeholders'">
                        <div class="row py-2">
                            <div class="col px-0 bg-white" style="height: 500px">
                                <app-stakeholders [loan]="loan"></app-stakeholders>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="tabActive === 'scheme'">

                        <ng-container *ngIf="loan.schemes.length !=0 ; else noScheme">
                            <div class="row py-2 " *ngFor="let scheme of loan.schemes; let i = index">
                                <div class="col px-0 bg-white" style="height: 500px">
                    
                                    <app-scheme 
                                        [scheme]="scheme"
                                        [index]="i"
                                        (deleteConfirmed)="deleteScheme($event)">
                                    </app-scheme>
                                </div>
                            </div>
                        </ng-container>

                        <ng-template #noScheme>
                            <div class="row py-2">
                                <div class="col px-0 bg-white" style="height: 500px">
                                    <app-scheme></app-scheme>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>

                </div>
            </div>
        
    </div>
</div>
    