<div *ngIf="successMsg" class="alert alert-success" role="alert">
    <h1 class="h3 fw-normal text-center">
        {{successMsg}}
    </h1>
</div>

<form [formGroup]="form" #f="ngForm" (ngSubmit)="onSubmit()" *ngIf="!successMsg">
    <h1 class="h3 mb-3 fw-normal text-center">
        Please type in your email
    </h1>
    
    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="email" class="form-control" id="email"
                    formControlName="email" 
                    name="email"
                    placeholder="Email address">
            <label for="email">Email address</label>
        </div>
    </div>
    <div *ngIf="(email?.invalid && (email?.dirty || email?.touched)) || (f.submitted && email?.invalid)"
        class="alert alert-danger">
        Please enter your email
    </div>
        
    <div class="text-center">
        <button
            class="btn btn-auth m-2 text-white"
            type="submit"
            [ngClass]="form.invalid ? 'btn-disabled' : 'btn-active'">
            Submit               
        </button>
    </div>

    <div *ngFor="let error of errors"
        class="alert alert-danger">
        {{error}}
    </div>

</form>
