<div class="container">
  <div class="row">
    <div class="col">
      <h6 class="text-center py-2">Step 1 of 2</h6>
      <div class="bg-instructions py-2">
        <ol class="my-2">
          <li class="py-1">You can upload a .csv or an .xlsx file.</li>
          <li class="py-1">
            Make sure your file has the correct column headers: <br />
            <span *ngFor="let parametre of parametresRequired; let last = last"
              >{{ parametre }}{{ last ? '.' : ', ' }}</span
            >
          </li>
          <ng-container *ngIf="parametersOptions$ | async as parametersOptions">
            <li class="py-1" *ngIf="parametersOptions.length > 0">
              Please note that certain fields only accept specific values. These fields and their valid options are
              listed below:
              <ul>
                <li *ngFor="let field of parametersOptions">
                  {{ field.name | titlecase }}:
                  <span *ngFor="let option of field.options; let i = index"
                    >{{ option | titlecase }} {{ field.options.length - 1 === i ? '.' : ',' }}
                  </span>
                </li>
              </ul>
            </li>
          </ng-container>
        </ol>
      </div>

      <div class="bg-instructions my-2">
        <div class="d-flex justify-content-start py-2">
          <img src="{{ information }}" alt="" class="px-2" />
          <p class="my-auto">In case of any issues, please download our .xlsx template</p>
        </div>
      </div>

      <div class="my-2">
        <h5 class="py-1">Pre-import data settings</h5>
        <p class="py-1">Before uploading your file, please take a moment to configure how we should handle the data.</p>
        <h6 class="py-1">HEADER COLUMNS</h6>
        <p class="py-1">
          The first row of your file must contain the column headings. See an example of header columns format below.
        </p>
      </div>

      <div class="my-2">
        <table class="table table-hover text-center table-bordered border-primary">
          <thead>
            <tr>
              <th *ngFor="let field of parametresRequired; let i = index">{{ getLetter(i) }}</th>
            </tr>
            <tr>
              <td *ngFor="let field of parametresRequired">{{ field }}</td>
            </tr>
          </thead>
        </table>
      </div>

      <div class="my-2 pt-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="isChecked" />
          <label class="form-check-label" for="checkColumns"> My first row contains column headings </label>
        </div>
        <p>By ticking the box you validate that your file has headers in the first row</p>
      </div>
    </div>
  </div>
</div>
