<app-scheme-modal
    *ngIf="openSchemeModal"
    [loan] = "loan"
    (modalSaveScheme)="onSave($event)">
</app-scheme-modal>

<div class="row m-0 full-height">
    <div class="col">


        <ng-container *ngIf="!!scheme.name; else noScheme">
            <div class="row mb-3 p-2">
                <div class="col-auto fw-bold">
                    {{scheme.name}}
                </div>
                <div class="col">
                    {{scheme.city}}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col px-0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item px-2" (click)="tabActive = 'units'" [ngClass]="tabActive === 'units' ? 'activeTab' : 'tab'">Units</li>
                        <li class="nav-item px-2" (click)="tabActive = 'income'" [ngClass]="tabActive === 'income' ? 'activeTab' : 'tab'">Income</li>
                        <li class="nav-item px-2" (click)="tabActive = 'value'" [ngClass]="tabActive === 'value' ? 'activeTab' : 'tab'">Value</li>
                        <li class="nav-item px-2" (click)="tabActive = 'development'" [ngClass]="tabActive === 'development' ? 'activeTab' : 'tab'">Development</li>
                    </ul>
                </div>
            </div>

        </ng-container>

        <ng-template #noScheme>
            <div class="d-flex flex-column justify-content-center pt-4">
                <div class="title mx-auto p-2">Create a new scheme</div>
                <button class="btn btn-primary mx-auto" (click)="openSchemeModal=true">New scheme</button>
            </div>
        </ng-template>  
        
    </div>
</div>