<div class="container-fluid">
    <div class="row">
        <div class="col-6">

            <!-- Logo & Login button -->
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between align-items-center">
                        <a routerLink="/" class="no-decoration">
                            <img src="{{logo}}" class="rounded me-2" alt="">
                            <span class="logo fw-bold fs-4">Pickle</span>
                        </a>
                        <div class="justify-content-end">
                            <button type="button" class="btn btn-auth m-2 bg-light" 
                            routerLink="/auth/register" *ngIf="isLogin" (click)="isLogin = !isLogin">Register</button>
                            <button type="button" class="btn btn-auth m-2 bg-light" 
                            routerLink="/auth/login" *ngIf="!isLogin" (click)="isLogin = !isLogin">Login</button>
                        </div>
                    </div>
                </div>
            </div>

             <!-- login/register child routes -->
             <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="row top-150">
                        <div class="">

                            <router-outlet></router-outlet>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- landing page split -->
        <div class="col-6 landing vh-100 ">
            <div class="row top-180 px-4">
                <div class="col">
                    <h1 class="display-5 fw-bold">Manage all your loans <br> in one place.</h1> 
                </div>
            </div>
        </div>

    </div>
</div>
