<app-unit-modal 
    *ngIf="openUnitModal" 
    [mode]="modalMode" 
    [scheme]="scheme"
    [availableAssetClassUses]="availableAssetClassUses"
    (modalSaveAssetClass)="onSave($event)">
</app-unit-modal>

<div>
  <button class="btn btn-primary" (click)="onOpenModal('add')" [disabled]="availableAssetClassUses.length === 0">Add asset class</button>
</div>

<div class="row py-4 justify-content-around">
  <div class="col-5" *ngFor="let assetClass of scheme.assetClasses; let i = index ">
    <app-unit-card 
      [assetClass]="assetClass" 
      [scheme]="scheme"
      (deleteIsConfirmed)="onDeleteAssetClass(i)">
    </app-unit-card>
  </div>
</div>


