<app-unit-modal 
    *ngIf="openUnitModal" 
    [mode]="modalMode" 
    [scheme]="scheme" 
    (modalSaveAssetClass)="onSave($event)">
</app-unit-modal>

<div class="d-flex flex-row " [ngClass]="{'justify-content-center pt-4': scheme.assetClasses.length === 0}">
  <button class="btn btn-primary" (click)="onOpenModal('add')">Add unit</button>
</div>

<div class="row mx-0 pt-2">
  <div class="col p-2 border border-primary mx-2 rounded" *ngFor="let assetClass of scheme.assetClasses">
    <app-unit-card [assetClass]="assetClass" [scheme]="scheme"></app-unit-card>
  </div>
</div>

