<app-borrower-modal 
    *ngIf="openBorrowerModal"
    [mode] = "mode"
    [loan] = "loan"
    (modalSaveBorrower)="onSave($event)"
    (removeIsConfirmed)="openBorrowerModal=false">
</app-borrower-modal>

<ul class="list-group list-group-horizontal">
    <li class="p-2 sectionTitle listNoStyle">Details</li>
    </ul>

    <div class="row">
    <div class="col-8 offset-2 text-center">

        <div class="row py-2 tableTitle mb-2">
            <div class="col">Borrower</div>
            <div class="col">Lender(s)</div>
        </div>

        <div class="row py-2 mt-2 rowTable">
            <div class="col my-auto">
                <button class="btn btn-primary" (click)="onOpenBorrowerModal('selectNew')" *ngIf="!loan.borrower">Add Borrower</button>
                <div *ngIf="!!loan.borrower" [ngClass]="{'highlight rounded': !!loan.borrower}">
                    <div class="row p-2 borrower-name">
                        <div class="col">{{loan.borrower.name}}</div>
                        <div class="col-auto text-center edit">
                            <div class="d-flex"> 
                                <app-edit (onOpenModalEdit)="onOpenBorrowerModal('selectEdit')"></app-edit>
                                <app-delete (onOpenModalDelete)="onOpenBorrowerModal('remove')"></app-delete>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            <div class="col">
                <button class="btn btn-primary" disabled>Add Lender</button>
            </div>
        </div>

    </div>
</div>

 