<form (ngSubmit)="onSubmit()">
    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="text" class="form-control" id="firm" placeholder="firm" value="{{user.firm.name}}" disabled>
            <label for="firm">Firm</label>
        </div>
    </div>
    
    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="email" class="form-control" id="email"
                    [(ngModel)] = "user.email"
                    name="email"
                    placeholder="Email address">
            <label for="email">Email address</label>
        </div>
    </div>

    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="password" class="form-control" id="password"
                    [(ngModel)] = "user.password"
                    name="password">
            <label for="password">Password</label>
        </div>
    </div>

    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="password" class="form-control" id="password_confirm"
                    [(ngModel)] = "user.password_confirm"
                    name="password_confirm">
            <label for="password_confirm">Confirm password</label>
        </div>
    </div>
        
    <div>
        <button
            class="btn btn-primary m-2"
            type="submit">
            Register            
        </button>
    </div>

    <div *ngFor="let error of errors"
        class="alert alert-danger">
        {{error}}
    </div>

</form>

