<div class="modal" tabindex="-1" [ngStyle]="{'display':displayStyle}" role="dialog">
  <div class="modal-dialog modal-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">{{mode | titlecase}} Unit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="onCancel()"></button>
      </div>

      <ng-container *ngIf="step===1">
        <div class="modal-body">
          <nav
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item d-flex align-items-center">
                <span class="px-2 d-flex align-items-center justify-content-center" appDot
                  [status]="assetClassStatus"></span>
                <span class="px-2">Asset class</span>
              </li>
              <img src="{{chevronRight}}" alt="">
              <li class="breadcrumb-item d-flex align-items-center">
                <span class="px-2" appDot [status]="detailStatus"></span>
                <span class="px-2">Detail</span>
              </li>
            </ol>
          </nav>

          <form [formGroup]="form" #f="ngForm" class="mx-auto py-2" id="form">
            <span class="d-flex justify-content-center pb-2">Please select the unit asset class from the list </span>

            <div class="form-group mb-3 px-2">
              <app-required></app-required>
              <div class="form-floating text-center">
                <select class="form-select" id="asset_class" formControlName="asset_class">
                  <option [ngValue]="''"> -- Select Asset Class --</option>
                  <option *ngFor='let choice of asset_class_choices' [ngValue]="choice">{{ choice.display}}
                  </option>
                </select>
                <label for="asset_class">Asset class</label>
              </div>
              <div *ngIf="(asset_class?.invalid && nextIsClicked ) || (f.submitted && asset_class?.invalid)"
                class="alert alert-danger">
                Please select the unit asset class
              </div>
            </div>
          </form>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary ms-auto" (click)="onCancel()">Cancel</button>
          <button type="button" class="btn btn-success" (click)="onNext()">Next ></button>
        </div>

      </ng-container>

      <ng-container *ngIf="step===2">
        <div class="modal-body">

          <nav
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
              <li class="breadcrumb-item d-flex align-items-center">
                <span class="px-2 d-flex align-items-center justify-content-center" appDot [status]="assetClassStatus">
                  <span style="color:green">&#10003;</span>
                </span>
                <span class="px-2">Asset class</span>
              </li>
              <img src="{{chevronRight}}" alt="">
              <li class="breadcrumb-item d-flex align-items-center">
                <span class="px-2" appDot [status]="detailStatus"></span>
                <span class="px-2">Detail</span>
              </li>
            </ol>
          </nav>

          <form [formGroup]="form" #f="ngForm" class="mx-auto py-2" id="form">
            <span class="d-flex justify-content-center pb-2">Please provide the breakdown of units</span>

            <div class="form-group px-2">
              <div class="form-floating">
                <input type="text" class="form-control bg-transparent border-0 text-secondary" id="asset_class" placeholder="Asset Class"
                  value="{{asset_class!.value.display}}" disabled>
                <label for="asset_class">Asset class</label>
              </div>
            </div>

            <div class="px-2">

              <div class="row mx-0 py-2 border-table text-center">
                <div class="col my-auto ">Type</div>
                <div class="col my-auto">{{default_choices[asset_class!.value.value].units | titlecase}}</div>
                <div class="col my-auto" *ngIf="default_choices[asset_class!.value.value].beds">
                  {{default_choices[asset_class!.value.value].beds | titlecase}}</div>
                <div class="col my-auto">{{default_choices[asset_class!.value.value].area}}
                  ({{scheme.system | lowercase}})</div>
              </div>

              <ng-container formArrayName="unitsArray">
                <ng-container *ngFor="let unit of unitsArray.controls; let i=index">
                  <div [formGroupName]="i">
                    <div class="row mx-0">
                      <input class="form-control col my-auto" formControlName="type"/>
                      <input class="form-control col my-auto text-right" formControlName="units" />
                      <input class="form-control col my-auto text-right" formControlName="beds"
                            *ngIf="default_choices[asset_class!.value.value].beds"/>
                      <input class="form-control col my-auto text-right" formControlName="area" />
                    </div>
                  </div>
                </ng-container>
              </ng-container>

              <button type="button" class="btn btn-primary mt-2" (click)="addUnit()">Add {{default_choices[asset_class!.value.value].units }} type</button>

              <div class="mt-2 alert alert-danger text-center" *ngIf="requiredControls.length > 0">
                The following fields are required: {{ requiredControls.join(', ') }}.

                <div *ngFor="let field of invalidControlsType">
                  {{field.controlName}} must be a {{field.controlType}}
                </div>

              </div>

            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" (click)="onPrevious()">< Previous</button> 
          <button type="button" class="btn btn-secondary ms-auto" (click)="onCancel()">Cancel</button>
          <button form="form" type="submit" class="btn btn-success" (click)="onSave()">Save</button>
        </div>

      </ng-container>

    </div>
  </div>
</div>
