.text-invisible {
    color: transparent
}

.deleteHover:hover{
    background: red; 
}
.text-visible{
    color: red
}
.text-visible:hover {
    color: white
}

/* input{  
    text-align: right;
} */
input.ng-invalid {
    border: 1px solid red;
}