.text-invisible {
    color: transparent
}

.deleteHover:hover{
    background: red; 
}
.text-visible{
    color: red
}
.text-visible:hover {
    color: white
}

/* .submitted input.ng-invalid {
    border: 1px solid red;
} */

.complete {
    color: rgba(0, 128, 0, 1)
}