/* .square {
    position: relative;
    width: 100%;

    padding-top: 100%;
}


.square > .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

.large-padding {
    padding: 3rem 6rem;
}

