<ng-container *ngIf="!_authService.isLoggedIn()">
    <app-landing></app-landing>
</ng-container>

<ng-container *ngIf="_authService.isLoggedIn()">
    <div class="container">
        <div class="col">
            <div class="row ">
    
                <div class="col">
    
                    <div class="row">
                        <div class="col p-4 bg-light">
    
                            <div class="row">
                                <div>
                                    <button type="button" class="btn btn-primary float-end"
                                    routerLink="/loan/new">New</button>
                                </div>
                            </div>
    
                            <div class="row p-2 m-2 row-title d-flex align-items-center fw-bolder">
                                <div class="col">Sponsor</div>
                                <div class="col">City</div>
                                <div class="col">Loan amount</div>
                                <div class="col">Status</div>
                            </div>
    
                            <div class="row py-5">
                                <div class="col my-auto text-center">
                                    <button type="button" class="btn btn-primary"
                                    routerLink="/loan/new">Add a new loan</button>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</ng-container>

