<ng-container *ngIf="!_authService.isLoggedIn()">
    <app-landing></app-landing>
</ng-container>

<ng-container *ngIf="_authService.isLoggedIn()">
    <div class="container">
        <div class="row">
            <div class="col p-4">
                <h2 class="pb-2" *ngIf="!!user.firm">{{user.firm.name}}</h2>
                <button type="button" class="btn btn-primary" routerLink="/loan/new">
                    Add a new loan
                </button>
            </div>
        </div>
    </div>

</ng-container>

