.landing {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('src/assets/images/sunrise.jpg') no-repeat center center fixed;
    background-size: cover;
}
.btn-auth {
    border: 2px solid rgba(5,5,55, 1);
    background-color: white;
    width: 132px;
    height: 48px;
    border-radius: 20px;
}
.btn-auth:hover {
    background-color: rgba(5,5,55, 1);
    color:white;
    width: 132px;
    height: 48px;
    border-radius: 20px;
}