<app-strategy-modal *ngIf="openStrategyModal"
                    [assetClass]="assetClass!"
                    [mode]="modalMode"
                    (modalAssetClassUpdate)="updateAssetClass($event)"
                    >
</app-strategy-modal>

<div class="row">
    <div class="col" *ngIf="assetClass?.investmentStrategy === ''">
        <div class="d-flex justify-content-center" style="margin-top: 50px">
            <button type="button" class="btn btn-primary px-auto" (click)="onOpenModal('define')" [disabled]="!assetClass">
                Select investment strategy
            </button>
        </div>
    </div>
    <div class="col d-flex justify-content-end" *ngIf="!!investmentStrategy">
        <div class="p-2 rounded highlight d-flex align-items-center">
            <div class="fw-bolder pe-2">{{ investmentStrategy | titlecase}}</div>
            <app-edit (onOpenModalEdit)="onOpenModal('edit')"></app-edit>
        </div>
    </div>
</div>

<ng-container *ngIf="assetClass?.investmentStrategy === 'buildToSell'; else buildToRent">
    <div class="row py-2">
        <div class="col background-section-title">
            <div class="d-flex justify-content-between">
                <span>Sales schedule</span>
                <app-toggle-button [toggle]="!expandSalesSchedule" (click)="expandSalesSchedule = !expandSalesSchedule"></app-toggle-button>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col background-section-title">
            <div class="d-flex justify-content-between">
                <span>Sales velocity</span>
                <app-toggle-button [toggle]="!expandSalesVelocity" (click)="expandSalesVelocity = !expandSalesVelocity"></app-toggle-button>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #buildToRent>
    <div class="row py-2">
        <div class="col background-section-title">
            <div class="d-flex justify-content-between">
                <span>Tenancy schedule</span>
                <app-toggle-button [toggle]="!expandTenancySchedule" (click)="expandTenancySchedule = !expandTenancySchedule"></app-toggle-button>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col background-section-title">
            <div class="d-flex justify-content-between">
                <span>Letting assumptions</span>
                <app-toggle-button [toggle]="!expandLettingAssumptions" (click)="expandLettingAssumptions = !expandLettingAssumptions"></app-toggle-button>
            </div>
        </div>
    </div>
</ng-template>





