.nav-title {
    color: rgba(15, 86, 179, 1);
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

li {
    list-style-type:none;
    cursor: pointer;
}

.loan-selected {
    background-color: #0dcaf026;
}

.overflow-auto {
    scrollbar-width: thin;
    padding-right: 5px;
}
