.nav-title {
    color: rgba(15, 86, 179, 1);
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

li {
    list-style-type:none;
    cursor: pointer;
}

.loan-selected {
    background-color: #0dcaf026;
}

.scrollbar-thin {
    scrollbar-width: thin;
}
.overflow-show {
    overflow-x: auto
}
.overflow-hide{
    overflow: hidden; 
    /* overflow-x: auto */
}


app-edit {
    visibility: hidden;
}
.loan-selected:hover app-edit {
    visibility: visible;
}
.nowrap {
    white-space: nowrap;
}

.col-1 {
    width: 75px;
}

.active, .nav-link.active {
    color: black;
    border-bottom: 2px solid rgba(15, 86, 179, 1);
    font-weight: 600;
}

.color-basic{
    color: Black
}
