<div class="modal" tabindex="-1" [ngStyle]="{'display':displayStyle}" role="dialog">
  <div class="modal-dialog modal-centered modal-xl">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">
          {{mode | titlecase}} Unit {{mode === 'delete' ? '' : 'Schedule'}}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="onCancel()"></button>
      </div>

      <ng-container *ngIf="mode !== 'delete'">
        <div class="modal-body">
          <form [formGroup]="form" #f="ngForm" [ngClass]="{'is-submitted': f.submitted}" id="form">
            <div class="table">
              <div class="total-row text-center">
                <div class="table-cell">Total</div>
                <div class="table-cell">{{totalUnits | number: '1.0-0' : 'en-GB'}} #</div>
                <div class="table-cell">{{totalAreaSize | number: '1.2-2' : 'en-GB'}}</div>
                <div class="table-cell" *ngIf="unitStructure.hasBeds()">{{totalBeds | number: '1.0-0' : 'en-GB'}}</div>
                <div class="table-cell"></div>
                <div class="table-cell"></div>
                <div class="table-cell"></div>
                <div class="table-cell"></div>
              </div>

              <div class="table-row header text-center">
                <div class="table-cell-header pt-2">{{unitStructure.label | titlecase}}</div>
                <div class="table-cell-header pt-2">Description</div>
                <div class="table-cell-header pt-2v">{{unitStructure.areaType}} ({{unitStructure.areaSystem}})</div>
                <div class="table-cell-header pt-2" *ngIf="unitStructure.hasBeds()">Beds</div>

                <ng-container *ngIf="assetClass.investmentStrategy === 'buildToSell'">
                  <div class="table-cell-header pt-2">Target price</div>
                  <div class="table-cell-header pt-2">Price achieved</div>
                  <div class="table-cell-header pt-2">Sale status</div>
                  <div class="table-cell-header pt-2">Status update</div>
                  <div class="table-cell-header pt-2">Buyer</div>
                </ng-container>

                <ng-container *ngIf="assetClass.investmentStrategy === 'buildToRent'">
                  <div class="table-cell-header pt-2">Rent</div>
                  <div class="table-cell-header pt-2">Lease start</div>
                  <div class="table-cell-header pt-2">Duration</div>
                  <div class="table-cell-header pt-2">Tenant</div>
                </ng-container>

                <div class="table-cell text-invisible" style="width: 20px"> &times;</div>
              </div>

              <ng-container formArrayName="units">
                <div class="table-row" *ngFor='let unit of units.controls; let i = index' [formGroupName]="i">
                  <div class="table-cell">
                    <input class="form-control text-center" formControlName="identifier" placeholder="identifier">
                  </div>
                  <div class="table-cell">
                    <input class="form-control text-center" formControlName="description" placeholder="description">
                  </div>
                  <div class="table-cell">
                    <input class="form-control text-center" formControlName="areaSize">
                  </div>
                  <div class="table-cell" *ngIf="unitStructure.hasBeds()">
                    <input class="form-control text-center" formControlName="beds">
                  </div>

                  <ng-container *ngIf="assetClass.investmentStrategy === 'buildToSell'">
                    <div class="table-cell">
                      <input class="form-control text-center" formControlName="salePriceTarget" placeholder="0">
                    </div>
                    <div class="table-cell">
                      <input class="form-control text-center" formControlName="salePriceAchieved"
                        placeholder="available">
                    </div>
                    <div class="table-cell">
                      <input class="form-control text-center" formControlName="saleStatus" placeholder="available">
                    </div>
                    <div class="table-cell">

                      <input class="form-control text-center" formControlName="saleStatusDate" placeholder="MM/DD/YY">
                      <!-- <input class="form-control text-center" formControlName="saleStatusDate" placeholder="MM/DD/YY" bsDatepicker> -->

                      <!-- <mat-form-field appearance="fill" class="text-center">
                        <mat-label>Select Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="saleStatusDate" placeholder="MM/DD/YY" (click)="picker.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field> -->

                      <!-- <mat-form-field appearance="outline" class="custom-form-control">
                        <input formControlName="saleStatusDate" matInput  [matDatepicker]="picker" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field> -->

                      <!-- <mat-form-field>
                        <mat-label>Both mat-label</mat-label>
                        <input matInput [matDatepicker]="picker1" autocomplete="off"  placeholder="and placeholder">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1 color="primary"></mat-datepicker>
                      </mat-form-field> -->

                    </div>
                    <div class="table-cell">
                      <input class="form-control text-center" formControlName="saleBuyer" placeholder="available">
                    </div>
                  </ng-container>

                  <ng-container *ngIf="assetClass.investmentStrategy === 'buildToRent'">
                    <div class="table-cell">
                      <input class="form-control text-center"
                        formControlName="leaseRentAmount">{{unit.get('leaseRentAmount') ? rentFrequency: ""}}
                    </div>
                    <div class="table-cell">
                      <input class="form-control text-center" formControlName="leaseStartDate">
                    </div>
                    <div class="table-cell">
                      <input class="form-control text-center"
                        formControlName="leaseDuration">{{unit.get('leaseDuration') ? leaseFrequency: ""}}
                    </div>
                    <div class="table-cell">
                      <input class="form-control text-center" formControlName="leaseTenant">
                    </div>
                  </ng-container>

                  <div class="table-cell align-middle" style="width: 20px">
                    <span class="deleteHover cursorPointer text-red rounded" (click)="onConfirmDelete(i)">&times;</span>
                  </div>
                </div>
              </ng-container>
            </div>

            <div class="mt-3">
              <button type="button" class="btn btn-primary" (click)="onAddUnit()">Add Unit</button>

              <p class="mt-1 alert alert-danger text-center"
                *ngIf="f.submitted && units.getError('identifierRequired')">
                {{unitStructure.label}} identifiers are required
              </p>

              <p class="mt-1 alert alert-danger text-center"
                *ngIf="f.submitted && units.getError('descriptionRequired')">
                Descriptions are required
              </p>

              <p class="mt-1 alert alert-danger text-center" *ngIf="f.submitted && units.getError('areaSizeRequired')">
                {{unitStructure.areaType}} are required
              </p>

              <p class="mt-1 alert alert-danger text-center" *ngIf="f.submitted && units.getError('areaSizePattern')">
                {{unitStructure.areaType}} must be numbers
              </p>

              <p class="mt-1 alert alert-danger text-center" *ngIf="f.submitted && units.getError('bedsPattern')">
                Beds must be numbers
              </p>

              <p class="mt-1 alert alert-danger text-center" *ngIf="f.submitted && units.getError('salePricePattern')">
                Sale prices must be numbers
              </p>

              <p class="mt-1 alert alert-danger text-center" *ngIf="f.submitted && units.getError('leaseRentPattern')">
                Rent must be numbers
              </p>

            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary m-2" (click)="onCancel()">Cancel</button>
          <button form="form" type="submit" class="btn btn-success m-2" (click)="onSave()">Save</button>
        </div>
      </ng-container>

      <ng-container *ngIf="mode === 'delete'">
        <div class="modal-body">
          <p class="text-center my-auto">Are you sure you want to delete this unit?</p>
        </div>

        <div class="table">
          <div class="table-row header text-center">
            <div class="table-cell-header pt-2">{{unitStructure.label | titlecase}}</div>
            <div class="table-cell-header pt-2">Description</div>
            <div class="table-cell-header pt-2v">{{unitStructure.areaType}} ({{unitStructure.areaSystem}})</div>
            <div class="table-cell-header pt-2" *ngIf="unitStructure.hasBeds()">Beds</div>

            <ng-container *ngIf="assetClass.investmentStrategy === 'buildToSell'">
              <div class="table-cell-header pt-2">Sold price</div>
              <div class="table-cell-header pt-2">Buyer</div>
            </ng-container>

            <ng-container *ngIf="assetClass.investmentStrategy === 'buildToRent'">
              <div class="table-cell-header pt-2">Lease start</div>
              <div class="table-cell-header pt-2">Duration</div>
              <div class="table-cell-header pt-2">Rent</div>
              <div class="table-cell-header pt-2">Tenant</div>
            </ng-container>

            <div class="table-cell text-invisible" style="width: 20px"> &times;</div>
          </div>

          <div class="table-row">
            <div class="table-cell text-center">
              {{!!units.at(index).get('identifier')?.value ? units.at(index).get('identifier')?.value: 'not defined'}}
            </div>
            <div class="table-cell text-center">
              {{!!units.at(index).get('description')?.value ? units.at(index).get('description')?.value: 'not defined'}}
            </div>
            <div class="table-cell text-center">
              {{!!units.at(index).get('areaSize')?.value ? units.at(index).get('areaSize')?.value: 'not defined'}}
            </div>
            <div class="table-cell text-center" *ngIf="unitStructure.hasBeds()">
              {{!!units.at(index).get('beds')?.value ? units.at(index).get('beds')?.value: 'not defined'}}
            </div>

            <ng-container *ngIf="assetClass.investmentStrategy === 'buildToSell'">
              <div class="table-cell text-center">
                {{!!units.at(index).get('salePrice')?.value ? units.at(index).get('salePrice')?.value: 'not defined'}}
              </div>
              <div class="table-cell text-center">
                {{!!units.at(index).get('saleBuyer')?.value ? units.at(index).get('saleBuyer')?.value: 'not defined'}}
              </div>
            </ng-container>

            <ng-container *ngIf="assetClass.investmentStrategy === 'buildToRent'">
              <div class="table-cell text-center">
                {{!!units.at(index).get('leaseStartDate')?.value ? units.at(index).get('leaseStartDate')?.value: 'not defined'}}
              </div>
              <div class="table-cell text-center">
                <ng-container
                  *ngIf="units.at(index).get('leaseDuration')?.value as leaseDuration; else leaseNotDefined">
                  {{leaseDuration}} {{leaseFrequency}}
                </ng-container>
                <ng-template #leaseNotDefined>not defined</ng-template>
              </div>
              <div class="table-cell text-center">
                <ng-container *ngIf="units.at(index).get('leaseRent')?.value as rentValue; else rentNotDefined">
                  {{rentValue}} {{rentFrequency}}
                </ng-container>
                <ng-template #rentNotDefined>not defined</ng-template>
              </div>
              <div class="table-cell text-center">
                {{units.at(index).get('leaseTenant')?.value}}
              </div>
            </ng-container>

            <div class="table-cell align-middle" style="width: 20px">
              <span class="text-invisible">&times;</span></div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary m-2" (click)="onCancelDelete()">Cancel</button>
          <button type="submit" class="btn btn-danger m-2" (click)="onRemoveUnit()">Delete</button>
        </div>
      </ng-container>

    </div>
  </div>
</div>
