.deleteHover:hover{
    background: red; 
}
.text-red {
    color: red
}

.text-red:hover {
    color: white
}
.text-invisible {
    color: transparent
}

#form.is-submitted input.ng-invalid,
#f.is-submitted input.ng-invalid {
    border: 1px solid red;
}

/* table {
  border-collapse: collapse;
  table-layout: auto;
  width: auto;
} */

th, td {
  padding-left: 2px;
  padding-right: 2px;
}

/* td {
  width: auto;
} */

th {
  white-space: nowrap;
}

.column-description {
  max-width: 100px;
  word-wrap: break-word;
}

.column-status {
  min-width: 140px;
  word-wrap: break-word;
}


