<app-profile *ngIf="openPopup" (onClosePopup)="closePopup()" [user]="user"></app-profile>

 <div class="d-flex flex-column mb-3 text-white h-100">

  <div class="p-2">
    <a routerLink="/" class="text-white text-decoration-none">
      <img src="{{logo}}" alt="">Pickle
    </a>
  </div>

  <div class="p-2 flex-grow-1">
    <ul class="p-0 text-white" style="list-style: none;">

      <li class="mb-2"><img src="{{home}}" alt="">Home</li>

      <li class="mb-2" style="cursor: pointer" (click)="is_expanded = !is_expanded">
        <img src="{{stakeholder}}" alt="">Stakeholders 
        <span class="filter-white" >
          <img *ngIf="!is_expanded" src="{{expand_more}}" alt="" >
          <img *ngIf="is_expanded" src="{{expand_less}}" alt="">
        </span>
  
        <ng-container *ngIf="is_expanded">
          <ul style="list-style: none">
            <li>Lenders</li>
            <li>Borrowers</li>
            <li>Panel</li>
          </ul>
        </ng-container>
      </li>

    </ul>
  </div>

  <div class="p-2 mb-4">
    <hr class="light-grey">
    <span style="cursor: pointer" class="d-flex align-items-center" (click)="onOpenPopup()" style="cursor: pointer">
      <span class="dot me-2"></span>
      Profile
    </span>
  </div>

</div>


  