.nav-logo {
    width: 16px;
    height: 16px
}


.profile {
    position: relative
}

.cursor-pointer {
    cursor: pointer;
}

.filter-white {
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(221deg) brightness(110%) contrast(101%);
}

.cursor-pointer {
    cursor: pointer;
}

  
.nav-icon {
    object-position: 50% 50%;
}

.logo-main {
    width: 40px
}

.logo-side {
    width: 16px;
}

img {
    margin-right: .5rem;
}