<!-- MODAL (create new firm) -->
<app-profile *ngIf="openPopup" (onClosePopup)="closePopup()"></app-profile>

<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-white">
    <a routerLink="/" class="d-flex ps-1 align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="{{logoActive}}" alt="">
      <span class="fs-4">Pickle</span>
    </a>
  
    <hr>
  
    <ul class="nav nav-pills flex-column mb-auto text-white">
      <li class="nav-item ps-1 mb-2">
        <a 
        routerLink="/home"
        routerLinkActive="active"
        class="nav-link px-2"
        aria-current="page"> 
          <img src="{{homeActive}}" class="rounded me-2" alt="">
          <span>Home</span>
        </a>
      </li>
  
      <li class="nav-item ps-1 mb-2">
        <span (click)="is_expanded = !is_expanded" class="cursor-pointer"> 
          <img src="{{stakeholder}}" class="rounded me-2" alt="">
          <span>Stakeholders</span>
  
          <ng-container *ngIf="!is_expanded; else is_open">
            <img src="{{expand_more}}" class="rounded me-2 filter-white expand_icon" alt="" >
          </ng-container>
          <ng-template #is_open>
            <img src="{{expand_less}}" class="rounded me-2 filter-white expand_icon" alt="">
          </ng-template>
          
        </span>
      </li>
  
      <ul class="list-group" *ngIf="is_expanded">
        <li class="list-group-item">
          <a routerLink="/lender" routerLinkActive="active" class="nav-link px-2" aria-current="page">
            <span>Lenders</span>
          </a>
        </li>
  
        <li class="list-group-item">
          <a routerLink="/investor" routerLinkActive="active" class="nav-link px-2" aria-current="page">
            <span>Investors</span>
          </a>
        </li>
  
        <li class="list-group-item">
          <a routerLink="/borrower" routerLinkActive="active" class="nav-link px-2" aria-current="page">
            <span>Borrower</span>
          </a>
        </li>
  
      </ul>
  
      <!-- <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{stakeholder}}" class="rounded me-2" alt="">
          <span>Stakeholders</span>
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div> -->
  
      <!-- <li class="nav-item ps-1">
        <a 
        routerLink="/lender" 
        routerLinkActive="active"
        class="nav-link px-2"
        aria-current="page"> 
          <img src="{{lender}}" class="rounded me-2" alt="">
          <span>Lenders</span>
        </a>
      </li>
      <li class="nav-item ps-1">
        <a 
        routerLink="/investor" 
        routerLinkActive="active"
        class="nav-link px-2"
        aria-current="page"> 
          <img src="{{investor}}" class="rounded me-2" alt="">
          <span>Investors</span>
        </a>
      </li> -->
  
    </ul>
     
    <hr>
  
    <ul class="nav nav-pills flex-column mb-auto text-white">
      <li class="nav-item ps-1">
        <button type="button" class="nav-link" (click)="onOpenPopup()">
          <img src="{{avatar}}" class="rounded me-2" alt="">
          Profile
        </button>
      </li>
    </ul>
  

       
  </div>
  