.text-theme {
    color: #050537
}

/* Firefox : hide arrow next to input type numbers*/
input[type=number] {
    -moz-appearance: textfield;
  }


.top-180 {
    position: absolute;
    top: 180px;
}
html, body { height: 100%; }
body { margin: 0; }

.text-disabled {
    color:rgba(192, 192, 192, 0.5)
}

.modal{
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-centered{
    top: 7em
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.title {
    color: rgba(15, 86, 179, 1);
    font-weight: 500;
}
.form-section-title {
    background-color: rgb(233, 236, 239 );
    display: flex;
    align-items: center;
    border-radius: .25rem 0 0 .25rem;
    border: 1px solid #ced4da;
}
.input-section{
    border-radius: 0 .25rem .25rem 0;
}
#form.ng-submitted input.ng-invalid {
    border: 1px solid red;
}
.border-table {
    border-bottom: 1px solid rgb(128,128,128);
}
.tableTitle{
    font-weight: 450;
    border-top: 1px solid rgba(119,119,119);
    border-bottom: 1px solid rgba(119,119,119);
    font-weight:bolder ;
}
.rowTable {
    border-bottom: 0.5px solid rgba(119,119,119);
}
.highlight:hover {
    background-color: rgba(13, 202, 240, 0.15);
    cursor: pointer;
}
app-edit {
    visibility: hidden;
}
.highlight:hover app-edit {
    visibility: visible;
}
.selected {
    background-color: #0dcaf026;
}
.cursorPointer{
    cursor: pointer;
}