.text-theme {
    color: #050537
}

/* Firefox : hide arrow next to input type numbers*/
input[type=number] {
    -moz-appearance: textfield;
  }


.top-180 {
    position: absolute;
    top: 180px;
}
html, body { height: 100%; }
body { margin: 0; }

.text-disabled {
    color:rgba(192, 192, 192, 0.5)
}

.modal{
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-centered{
    top: 7em
}