<app-scheme-modal
    *ngIf="openSchemeModal"
    [scheme]="scheme"
    [mode] = "modalMode"
    (modalSaveScheme)="onSave($event)"
    (deleteIsConfirmed)="onDeleteScheme()">
</app-scheme-modal>

<div class="row m-0 full-height">
    <div class="col">

        <ng-container *ngIf="!!scheme.name; else noScheme">
            <div class="row p-2 fixed-height" >
                <div class="col-auto">
                    <div class="row highlightHover rounded p-2">
                        <div class="col-auto fw-bold">
                            {{scheme.name}}
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                <div class="col">
                                    <span>{{scheme.street_name}}</span>
                                    <span>{{scheme.postcode}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span>{{scheme.city}}</span>
                                    <span>{{scheme.country}}</span>
                                </div>
                            </div>       
                        </div>
                        <div class="col-auto text-center edit">
                            <div class="d-flex">
                                <app-edit (click)="onOpenModal('edit')"></app-edit>
                            </div>
                            
                        </div>
                    </div>
                    
                </div> 
            </div>

            <div class="row mb-2">
                <div class="col px-0">
                    <ul class="nav nav-tabs bg-light px-2">
                        <li class="nav-item p-2" (click)="tabActive = 'units'" [ngClass]="tabActive === 'units' ? 'activeTab' : 'tab'">Units</li>
                        <li class="nav-item p-2" (click)="tabActive = 'income'" [ngClass]="tabActive === 'income' ? 'activeTab' : 'tab'">Income</li>
                        <li class="nav-item p-2" (click)="tabActive = 'value'" [ngClass]="tabActive === 'value' ? 'activeTab' : 'tab'">Value</li>
                        <li class="nav-item p-2" (click)="tabActive = 'development'" [ngClass]="tabActive === 'development' ? 'activeTab' : 'tab'">Development</li>
                    </ul>
                </div>
            </div>

        </ng-container>

        <ng-template #noScheme>
            <div class="d-flex flex-column justify-content-center pt-4">
                <div class="title mx-auto p-2">Create a new scheme</div>
                <button class="btn btn-primary mx-auto" (click)="onOpenModal('new')">New scheme</button>
            </div>
        </ng-template>  
        
    </div>
</div>