.title {
    color: rgba(15, 86, 179, 1);
    font-weight: 500;
}
/* 
.fixed-height{
    height: 75px;
} */

li {
    list-style-type:none;
    cursor: pointer;
}
.nav-link, .nav-link.active {
    color: black;
}
.activeTab {
    border-bottom: 2px solid rgba(15, 86, 179, 1);
    font-weight: 600;
}
.tab {
    border-bottom: 2px solid transparent;
}

.highlightHover:hover{
    background: rgba(13, 202, 240, 0.15);
}
app-edit, app-delete {
    visibility: hidden;
}
.highlightHover:hover app-edit, .highlightHover:hover app-delete{
    visibility: visible;
}
