<form [formGroup]="form" #f="ngForm" (ngSubmit)="onSubmit()" id="form" [ngClass]="{'is-submitted': formIsSubmitted}">
    <h1 class="h3 mb-3 fw-normal text-center">
        Please reset your password
    </h1>

    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="password" class="form-control" id="password"
                    formControlName="password" 
                    name="password"
                    placeholder="Password">
            <label for="password">Password</label>
        </div>
    </div>
    <div *ngIf="(password?.invalid && (password?.dirty || password?.touched)) || (f.submitted && password?.invalid)"
        class="alert alert-danger">
        Please enter your password
    </div>

    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="password" class="form-control" id="password-confirm"
                    formControlName="passwordConfirm" 
                    name="passwordConfirm"
                    placeholder="Confirm password">
            <label for="password-confirm">Confirm password</label>
        </div>
    </div>
    <div *ngIf="(passwordConfirm?.invalid && (passwordConfirm?.dirty || passwordConfirm?.touched)) || (f.submitted && passwordConfirm?.invalid)"
        class="alert alert-danger">
        Please confirm your password
    </div>
        
    <div class="text-center">
        <button class="btn m-2"
                type="submit"
                [ngClass]="form.invalid ? 'btn-disabled' : 'btn-auth'">
                Save               
        </button>
    </div>

    <div *ngFor="let error of errors"
        class="alert alert-danger text-center">
        {{error}}
    </div>

</form>
