<!-- <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">

    <h1 class="h3 mb-3 fw-normal text-center">
        Please reset your password
    </h1>

    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="password" class="form-control" id="email"
                    ngModel name="password"
                    #password="ngModel"
                    placeholder="Password">
            <label for="email">Password</label>
        </div>
    </div>

    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="password" class="form-control" id="email"
                    ngModel name="password_confirm"
                    #password_confirm="ngModel"
                    placeholder="Password Confirm">
            <label for="email">Confirm password</label>
        </div>
    </div>
        
    <div>
        <button
            class="btn btn-primary m-2"
            type="submit">
            Save
                        
        </button>
    </div>

    <div *ngFor="let error of errors"
        class="alert alert-danger">
        {{error}}
    </div>

</form> -->

<form [formGroup]="form" #f="ngForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 fw-normal text-center">
        Please reset your password
    </h1>

    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="password" class="form-control" id="password"
                    formControlName="password" 
                    name="password"
                    placeholder="Password">
            <label for="password">Password</label>
        </div>
    </div>
    <div *ngIf="(password?.invalid && (password?.dirty || password?.touched)) || (f.submitted && password?.invalid)"
        class="alert alert-danger">
        Please enter your password
    </div>

    <div class="form-group mb-1">
        <div class="form-floating">
            <input type="password" class="form-control" id="password_confirm"
                    formControlName="password_confirm" 
                    name="password_confirm"
                    placeholder="Password Confirm">
            <label for="password_confirm">Confirm password</label>
        </div>
    </div>
    <div *ngIf="(password_confirm?.invalid && (password_confirm?.dirty || password_confirm?.touched)) || (f.submitted && password_confirm?.invalid)"
        class="alert alert-danger">
        Please confirm your password
    </div>
        
    <div class="text-center">
        <button class="btn btn-auth m-2 text-white"
                type="submit"
                [ngClass]="form.invalid ? 'btn-disabled' : 'btn-active'">
                Save               
        </button>
    </div>

    <div *ngFor="let error of errors"
        class="alert alert-danger">
        {{error}}
    </div>

</form>
